@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-image: url("img/eventor.jpg");
    font-family: 'Montserrat', sans-serif;

}


#success_message{ display: none;}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 26px;
    height: 26px;
    padding: 3px;
    background: #4f2684;
    border: 2px solid #4f2684;
    color: #fff;
    text-align: center;
    font: 10px;
  }

  /* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }

  .new{
     background-color: #4f2684; 
     color: #fff;
  }
.new:hover{
 background-color: black;
color: #fff;
}
#venia{
    background-color: #4f2684; 
    color: #fff;
 }
#venia:hover{
background-color: black;
color: #fff;